.ucptab{
border:1px solid #CCCCCC;
padding:2px;
}

.ucpsubtab{
background-color: #f1f1f1;
}

.ucpst a:link, .ucpst a:visited, .ucpst a:active, .ucpst a:hover{
font-size:13px;
font-family: Helvetica, Verdana, Arial, sans-serif;
font-weight: bold;
color:#565656;
text-decoration: none;
}

.ucpstsel a:link, .ucpstsel a:visited, .ucpstsel a:active, .ucpstsel a:hover{
font-size:13px;
font-family: Helvetica, Verdana, Arial, sans-serif;
font-weight: bold;
color: #999999;
text-decoration: none;
}

/* The Icon Bar Normal */
.ucpiconor{
text-decoration: none;
cursor:pointer;
color:#565656;
}
/* The Icon Bar On Mouseover */
.ucpicoon{
background-color: #e9eff5;
cursor:pointer;
color:#565656;
}
/* The Icon Bar Selected */
.ucpicosel{
background-color: #f1f1f1;
color:#565656;
}

.ucpsidehead{
background-image: url(images/greybg.gif);
height:36px;
font-size:13px;
font-family: Helvetica, Verdana, Arial, sans-serif;
font-weight: bold;
color:#565656;
}

.ucpsidelink, .ucpsidesel{
color:#565656;
background-color:#f3f2f2;
padding:4px;
padding-left:13px;
position:relative;
}

.ucpsidelink a:link, .ucpsidelink a:visited, .ucpsidelink a:active, .ucpsidelink a:hover{
color:#565656;
text-decoration:none;
display: block;
}

/* UCP Side Link selected */
.ucpsidesel a:link, .ucpsidesel a:visited, .ucpsidesel a:active, .ucpsidesel a:hover{
color:#565656;
text-decoration:none;
display: block;
font-weight: bold;
}


.icoexp{
padding-top:6px;
text-decoration:none;
}